#root {
    --primary-color: #f1f1f1;
    --secondary-color: rgb(249 115 22);
    --text-color: #292929;
    color: var(--text-color);
}

.app-layout {
    display: grid;
    grid-template-areas:
        'header header'
        'main main';
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 70px 1fr;
    width: 100vw;
    height: 100vh;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.text-main {
    color: var(--primary-color);
}

.text-sec {
    color: var(--secondary-color);
}

.text-bright {
    color: var(--text-color);
}

.bg-main {
    background: var(--primary-color);
}

.orange-button {
    background-color: rgb(249 115 22);
    height: 40px;
    width: 160px;
    color: var(--primary-color);
    margin-top: 8px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.25rem;
}

.orange-button:hover {
    background-color: rgb(234 88 12);
}

.live-flash {
    animation: flash 2s infinite;
}

.card {
    @apply relative rounded-lg overflow-hidden shadow transition-all;
}

/* Solution Solved Smilly classes */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: fadeIn 2s, fadeOut 2s ease-out 2s;
}
.overlay-image {
    max-width: 50%;
    max-height: 50%;
    border-radius: 8px;
}

/* Animations */

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Fade-out animation */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes flash {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}
