#root {
    /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.app-layout {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar main' !important;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 80px 1fr;
    width: 100vw;
    height: 100vh;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    min-width: 160px;
}

.main {
    grid-area: main;
}

.codeblock-preview .monaco-editor .view-lines {
    cursor: pointer !important;
}
